@charset "utf-8";

.card {
  width: 18rem;
  margin-top: 1rem;
}

/* #cardLayout {
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
  width: "100%";
  flex-direction: "row";
  flex-wrap: "wrap";
} */

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
